<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h4 class="card-header bg-info text-center text-white">Add a new product</h4>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="">ID</label>
                            <input type="text" name="idProduct" [(ngModel)]="newProduct.id" class=" form-control ">
                        </div>
                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" name="title" [(ngModel)]="newProduct.title" class=" form-control ">
                        </div>
                        <div class="form-group ">
                            <label for=" ">Description</label>
                            <textarea type="text " class="form-control " name="descriptionProduct " [(ngModel)]="newProduct.description"></textarea>
                        </div>
                        <div class="form-group ">

                            <input type="submit " (click)="addProduct()" class="btn btn-primary" value="Add ">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>